<!DOCTYPE html>
<html>
<head>
 <title>Hotel Information</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
       integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
       crossorigin=""/>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src="js/getWeather.js"></script>
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
         integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
         crossorigin=""></script>
 <script src="js/fetchReviews.js"></script>
 <script src="js/loadMap.js" async defer></script>

 <style>
  .flex-container {
   display: flex;
  }

  .flex-child {
   flex: 1;
   height: 60vh;
   width: 50vw;
  }

  .flex-child:first-child {
   margin-right: 20px;
  }
  #map { height: 60vh;
         width: 50vw
       }
 </style>

 <nav class="navbar">
  <div class="container-fluid">
   <div class="navbar-header">
    <a class="navbar-brand" href="/home">Adi's Hotel Search</a>
   </div>
   <ul class="nav navbar-nav">
    <li><a href=/search>Hotel Search</a></li>
    <li><a href=/hotelInfoReview?hotelId=$infoJSON.hotelData.hotelId.getAsString()>Hotel Info</a></li>
    <li><a href=/expedia>Expedia Links</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> $sessionName</a></li>
    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
   </ul>
  </div>
 </nav>

</head>
<body>
<div class="jumbotron text-center">
 <h1>Hotel Information </h1>
 #if($hotelName != "invalid")
 <h3>$hotelName </h3>
 <h4>$infoJSON.hotelData.addr.getAsString(), $infoJSON.hotelData.city.getAsString(), $infoJSON.hotelData.state.getAsString() </h4>
 #end
</div>


<div class="container">
 <h3>Hotel Information</h3>
 <table class="table">
  <tr>
   <th>Hotel Id</th>
   <th>Hotel Name</th>
   <th>Average Rating</th>
  </tr>
  <tr>
   <td>$infoJSON.hotelData.hotelId.getAsString()</td>
   <td>$infoJSON.hotelData.name.getAsString()</a></td>
   <td>$infoJSON.hotelData.rating.getAsString()</td>
  </tr>
 </table>
 <p id="weather"></p>

 <div class="flex-container">
  <div class="flex-child" style="margin-left: 0%">
   <form>
    <p><button type="button" class="w3-button w3-border w3-hover-orange" onclick="getWeather('$hotelId')">Fetch Weather</button></p>
   </form>
   <form method="POST" action="/addReview?hotelId=$infoJSON.hotelData.hotelId&hotelName=$infoJSON.hotelData.name">
    <p><button class="w3-button w3-border w3-hover-green" type="submit">Add Review</button></p>
   </form>
   <form method="POST" action="/modifyReview?hotelId=$infoJSON.hotelData.hotelId&hotelName=$infoJSON.hotelData.name">
    <p><button class="w3-button w3-border w3-hover-blue" type="submit">Modify Review</button></p>
   </form>
   <form method="POST" action="/updateExpedia" class="expediaForm" onsubmit="openExpediaLink()">
    <input type="hidden" name="hotelId" value=$infoJSON.hotelData.hotelId/>
    <input type="hidden" name="hotelName" value=$infoJSON.hotelData.name/>
    <input type="hidden" name="expediaLink" id="expediaLink" value=$infoJSON.hotelData.expedia/>
    <p><button class="w3-button w3-border w3-hover-yellow" type="submit">Visit Expedia Page</button></p>
   </form>

   <script>
    function openExpediaLink(){
     window.open(document.getElementById("expediaLink").value, '_blank')
    }
   </script>
  </div>
  <div class="flex-child" style="margin-right: 0%">
   <div id="map"></div>

   <script>
    window.onload = function () {
     loadMap('$infoJSON.hotelData.lat.getAsString()',
             '$infoJSON.hotelData.lng.getAsString()', "$infoJSON.hotelData.name.getAsString()")
    }
   </script>
  </div>
 </div>

</div>

<div class="container">
 <h4> Reviews for $hotelName: </h4>
 <table class="table table-hover" id="review-table">
  <thead>
  <tr class="w3-light-grey">
   <th>Review Id</th>
   <th>Review Date</th>
   <th>Review Author</th>
   <th>Review Rating</th>
   <th>Review Title</th>
   <th>Review Text</th>
  </tr>
  </thead>
  <nav aria-label="Page navigation example">
   <ul class="pagination" id="pagination-table">
    #foreach($i in [1..$numButtons])
    #set($num=$i+1)
    <li class="page-item" onclick="fetchReviews('$hotelId', '$i')"><button class="page-link" href='javascript:void();'>$i</button></li>
    #end
   </ul>
  </nav>
  <tbody id="tableBody">
  </tbody>

 </table>
</div>
</body>
</html>