<!DOCTYPE html>
<html>
<head>
 <title>Hotel Information</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <nav class="navbar">
  <div class="container-fluid">
   <div class="navbar-header">
    <a class="navbar-brand" href="/search">Adi's Hotel Search</a>
   </div>
   <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="#">Page 1-1</a></li>
      <li><a href="#">Page 1-2</a></li>
      <li><a href="#">Page 1-3</a></li>
     </ul>
    </li>
    <li><a href="#">Page 2</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> $sessionName</a></li>
    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
   </ul>
  </div>
 </nav>



</head>
<body>
<div class="jumbotron text-center">
 <h1>Hotel Information </h1>
 #if($hotelName != "invalid")
 <h3>$hotelName </h3>
 <h4>$infoJSON.hotelData.addr.getAsString(), $infoJSON.hotelData.city.getAsString(), $infoJSON.hotelData.state.getAsString() </h4>
 #end
</div>


<div class="container">
 <h3>Hotel Information</h3>
 <table class="table">
  <tr>
   <th>Hotel Id</th>
   <th>Hotel Name</th>
   <th>Average Rating</th>
  </tr>
  <tr>
   <td>$infoJSON.hotelData.hotelId.getAsString()</td>
   <td><a href=$infoJSON.hotelData.expedia>$infoJSON.hotelData.name.getAsString()</a></td>
   <td>$infoJSON.hotelData.rating.getAsString()</td>
  </tr>
 </table>
</div>

<div class="container" style="margin:20px auto;[B]padding:20px 0;[/B]">
 <div class="btn-group">
  <form method="POST" action="/addReview?hotelId=$infoJSON.hotelData.hotelId&hotelName=$infoJSON.hotelData.name">
   <p><button class="w3-button w3-border w3-hover-green" type="submit">Add Review</button></p>
  </form>
 <form method="POST" action="/modifyReview?hotelId=$infoJSON.hotelData.hotelId&hotelName=$infoJSON.hotelData.name">
  <p><button class="w3-button w3-border w3-hover-blue" type="submit">Modify Review</button></p>
 </form>
<!--  <form method="POST" action="/reservation">-->
<!--   <input type="hidden" name="hotelId" value=$infoJSON.hotelData.hotelId/>-->
<!--   <input type="hidden" name="hotelName" value=$infoJSON.hotelData.name/>-->
<!--   <p><button class="w3-button w3-border w3-hover-orange" type="submit">Reserve Room</button></p>-->
<!--  </form>-->
 </div>
</div>

<div class="container">
 <h4> Reviews for $hotelName: </h4>
 <table class="table table-hover">
  <thead>
  <tr class="w3-light-grey">
   <th>Review Id</th>
   <th>Review Date</th>
   <th>Review Author</th>
   <th>Review Rating</th>
   <th>Review Title</th>
   <th>Review Text</th>
  </tr>
  </thead>
  #if($infoJSON.hotelReviews.success != false)
  #foreach($review in $infoJSON.hotelReviews.reviews)
  <tr>
   <td>$review.reviewId.getAsString()</td>
   <td>$review.date.getAsString()</td>
   <td>$review.user.getAsString()</td>
   <td>$review.rating.getAsString()</td>
   <td>$review.title.getAsString()</td>
   <td>$review.reviewText.getAsString()</td>
  </tr>
  #end
  #else
  <td>$reviewJSON.hotelId</td>
  #end

 </table>
</div>

</body>
</html>