<!DOCTYPE html>
<html>
<head>
 <title>Hotel Information</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="w3-container" style="float:right;">
 <p style="color:darkred"><a href="/logout"><small>Logout</small></a></p>
</div>
<div class="jumbotron text-center">
 <h1>Hotel Information </h1>
 #if($hotelName != "invalid")
 <h3>$hotelName </h3>
 <h4>$infoJSON.hotelData.addr.getAsString(), $infoJSON.hotelData.city.getAsString(), $infoJSON.hotelData.state.getAsString() </h4>
 #end
</div>


<div class="w3-container">
 <h3>Hotel Information</h3>
 <table class="w3-table-all w3-card-4">
  <tr>
   <th>Hotel Id</th>
   <th>Hotel Name</th>
   <th>Average Rating</th>
  </tr>
  <tr>
   <td>$infoJSON.hotelData.hotelId.getAsString()</td>
   <td><a href=$infoJSON.hotelData.expedia>$infoJSON.hotelData.name.getAsString()</a></td>
   <td>$infoJSON.hotelData.rating</td>
  </tr>
 </table>
</div>

<div class="w3-container" style="margin:20px auto;[B]padding:20px 0;[/B]">
 <div class="w3-bar">
  <form method="POST" action="/addReview?hotelId=$infoJSON.hotelData.hotelId&hotelName=$infoJSON.hotelData.name">
   <p><button class="w3-button w3-border w3-hover-green" type="submit">Add Review</button></p>
  </form>
 <form method="POST" action="/modifyReview?hotelId=$infoJSON.hotelData.hotelId&hotelName=$infoJSON.hotelData.name">
  <p><button class="w3-button w3-border w3-hover-blue" type="submit">Modify Review</button></p>
 </form>
 </div>
</div>

<div class="w3-container">
 <h4> Reviews for $hotelName: </h4>
 <table class="w3-table-all w3-hoverable">
  <thead>
  <tr class="w3-light-grey">
   <th>Review Id</th>
   <th>Review Date</th>
   <th>Review Author</th>
   <th>Review Rating</th>
   <th>Review Title</th>
   <th>Review Text</th>
  </tr>
  </thead>
  #if($infoJSON.hotelReviews.success != false)
  #foreach($review in $infoJSON.hotelReviews.reviews)
  <tr>
   <td>$review.reviewId.getAsString()</td>
   <td>$review.date.getAsString()</td>
   <td>$review.user.getAsString()</td>
   <td>$review.rating.getAsString()</td>
   <td>$review.title.getAsString()</td>
   <td>$review.reviewText.getAsString()</td>
  </tr>
  #end
  #else
  <td>$reviewJSON.hotelId</td>
  #end

 </table>
</div>

</body>
</html>