<!DOCTYPE html>
<html lang="en">
<head>
    <title>HotelReview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/search">Adi's Hotel Search</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href=/search>Hotel Search</a></li>
            <li><a href=/expedia>Expedia Links</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> $sessionName</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<body>
<div class="container">
    <div class="w3-panel w3-light-gray w3-display-container">
            <span onclick="this.parentElement.style.display='none'"
                  class="w3-button w3-large w3-display-topright">&times;</span>
        <h4>Successful Login!</h4>
        <p>Last Login: $lastLogin</p>
    </div>
</div>
<div class="jumbotron text-center">
    <h1>Hotel Search </h1>
    #if($keyword != "invalid")
    <h3>$keyword </h3>
    #end
</div>

<div class="card">
    <div class="container w3-indigo">
        <h2>Keyword Search</h2>
    </div>
</div>
<div>
    <form class="container" method="post" action=$servletPath >
        <p>Please enter keyword:</p>
        <p>
            <label class="w3-text-green"><b>Keyword</b></label>
            <input class="w3-input w3-border w3-sand" name="keyword" type="text"></p>
        <p>
            <button class="w3-btn w3-green" type = submit value = "Search">Search</button></p>
    </form>
</div>

<div class="container">
    <h4 align="center"> Hotels matching $keyword: </h4>
    <table class="table table-hover">
        <thead>
        <tr class="w3-light-grey">
            <th>Hotel</th>
        </tr>
        </thead>
        #if($keywordJSON.success != false)
        #foreach($hotel in $keywordJSON.keywordHotels)
        <tr>
            <td><a href=/hotelInfoReview?hotelId=$hotel.hotelId.getAsString()>$hotel.name.getAsString()</a></td>
        </tr>
        #end
        #else
        <td>No hotel names contain that word</td>
        #end
    </table>
</div>

</body>
</html>