<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Login</title>
</head>
<body>
<div class="w3-card-4">
    <div class="w3-container w3-indigo">
        <h2>User Login</h2>
    </div>
    <form class="w3-container" method="post" action=$servletPath >
        <p>Please enter username and password:</p>
        <p>
            <label class="w3-text-green"><b>Username</b></label>
            <input class="w3-input w3-border w3-sand" name="username" type="text"></p>
        <p>
            <label class="w3-text-green"><b>Password</b></label>
            <input class="w3-input w3-border w3-sand" name="pass" type="text"></p>
        <p>
            <button class="w3-btn w3-green" type = submit value = "Login">Login</button></p>
    </form>
</div>

</body>
</html>