<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hotel Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="w3-container" style="float:right;">
    <p style="color:darkred"><a href="/logout"><small>Logout</small></a></p>
</div>
<div class="jumbotron text-center">
    <h1>Modify Hotel Reviews </h1>
    #if($hotelName != "invalid")
    <h3>$hotelName </h3>
    <h4>$infoJSON.hotelData.addr.getAsString(), $infoJSON.hotelData.city.getAsString(), $infoJSON.hotelData.state.getAsString() </h4>
    #end
</div>


<div class="w3-container">
    <h3>Hotel Information</h3>
    <table class="w3-table-all w3-card-4">
        <tr>
            <th>Hotel Id</th>
            <th>Hotel Name</th>
            <th>Average Rating</th>
        </tr>
        <tr>
            <td>$infoJSON.hotelData.hotelId</td>
            <td><a href=$infoJSON.hotelData.expedia>$infoJSON.hotelData.name</a></td>
            <td>$infoJSON.hotelData.rating</td>
        </tr>
    </table>
</div>

<div class="w3-container">
    <h4> Reviews for $hotelName: </h4>
    <table class="w3-table-all w3-hoverable">
        <thead>
        <tr class="w3-light-grey">
            <th>Review Id</th>
            <th>Review Date</th>
            <th>Review Author</th>
            <th>Review Rating</th>
            <th>Review Title</th>
            <th>Review Text</th>
            <th>Action</th>
        </tr>
        </thead>
        #if($infoJSON.hotelReviews.success != false)
        #foreach($review in $infoJSON.hotelReviews.reviews)
        <tr>
            <td>$review.reviewId</td>
            <td>$review.date</td>
            <td>$review.user</td>
            <td>$review.rating</td>
            <td>$review.title</td>
            <td>$review.reviewText</td>
            <td>
                <div class="w3-container">
                    <div class="w3-bar">
                        <form method = "POST" action="/editReview">
                            <input type="hidden" name="hotelId" value=$infoJSON.hotelData.hotelId&reviewId/>
                            <input type="hidden" name="reviewId" value=$review.reviewId/>
                            <p><button class="w3-button w3-border w3-hover-blue" name="editButton" type="submit" >Edit</button></p>
                        </form>
                        <form method="POST" action="/deleteReview">
                            <input type="hidden" name="hotelId" value=$infoJSON.hotelData.hotelId&reviewId/>
                            <input type="hidden" name="reviewId" value=$review.reviewId/>
                            <p><button class="w3-button w3-border w3-hover-red" name="deleteButton" type="submit">Delete</button></p>
                        </form>
                    </div>
                    </div>
            </td>
        </tr>
        #end
        #else
        <td>$reviewJSON.hotelId</td>
        #end

    </table>
</div>

</body>
</html>