<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post Registration</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="well well-lg w3-red w3-border">
    <h3>User Not Logged In!</h3>
    <p>Please login or register to access search features</p>
    <p>Click here to login: <a href="/login" style="color: white"><b>Login</b></a>.</p>
    <p>Click here to register: <a href="/register" style="color: white"><b>Register</b></a>.</p>
</div>

</body>
</html>