<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Registration</title>
</head>
<body>
<div class="w3-card-4">
    <div class="w3-container w3-light-green">
        <h2>User Registration</h2>
    </div>
    <form class="w3-container" method="post" action=$servletPath >
        <p>Please enter username and password:</p>
        <p>
            <label class="w3-text-green"><b>Username</b></label>
            <label class="w3-text-grey"><b>(Must include one Upper, and one Lower character)</b></label>
            <input class="w3-input w3-border w3-amber" name="name" type="text"></p>
        <p>
            <label class="w3-text-green"><b>Password</b></label>
            <label class="w3-text-grey"><b>(8-16 characters, must include one Upper,
                one Lower and one Special character)</b></label>
            <input class="w3-input w3-border w3-amber" name="pass" type="text"></p>
        <p>
            <button class="w3-btn w3-green" type = submit value = "Register">Register</button></p>
    </form>
</div>

</body>
</html>