<!DOCTYPE html>
<html lang="en">
<head>
    <title>HotelReview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Hotel Reviews </h1>
    #if($hotelName != "anonymous")
      <h5>$hotelName! </h5>
    #end
</div>

<div class="w3-container">
    <h3> Reviews for $hotelName: </h3>
    <table class="w3-table-all w3-hoverable">
        <thead>
        <tr class="w3-light-grey">
            <th>Review Id</th>
            <th>Review Date</th>
            <th>Review Author</th>
            <th>Review Rating</th>
            <th>Review Title</th>
            <th>Review Text</th>
        </tr>
        </thead>

        #foreach($review in $reviews)
        <tr>
            <td>$review.getReviewID()</td>
            <td>$review.getDatePosted()</td>
            <td>$review.getUserNickname()</td>
            <td>$review.getRatingOverall()</td>
            <td>$review.getTitle()</td>
            <td>$review.getReviewText()</td>
        </tr>
        #end

    </table>
</div>

</body>
</html>
